<div class="container">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-25" >
      <label for="fname">First Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="fname" name="firstname" placeholder="Your name.." formControlName="firstName">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="lname">Last Name</label>
    </div>
    <div class="col-75">
      <input type="text" id="lname" name="lastname" placeholder="Your last name.." formControlName="lastName">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="mobile">Mobile</label>
    </div>
    <div class="col-75">
      <input type="text" id="mobile" name="mobile" placeholder="Your mobile Number.." pattern="[789][0-9]{9}" formControlName="Mobile">
    </div>
  </div>
  <div class="row">
    <div class="col-25">
      <label for="country">Country</label>
    </div>
    <div class="col-75">
      <select id="country" name="country" placeholder="Your Country.." formControlName="Country">
        <option value="australia">India</option>
        <option value="canada">UK</option>
        <option value="usa">USA</option>
      </select>
    </div>
  </div>
  <div class="row">   
    <div class="col-25">
      <label for="subject">Subject</label>
    </div>
    <div class="col-75">
      <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px" formControlName="subject"></textarea>
    </div>
  </div>
  <br>
  <div class="row">
    <input type="submit" value="Submit">
  </div>
  </form>
</div>
<div>
  <table>
      <tr>
        <th>Id</th>  
        <th>First Name</th>
        <th>Last Name</th>
        <th>Mobile</th>
        <th>Country</th>
        <th>Subject</th>
        <th>Action</th>
      </tr>
      <tr *ngFor="let data of getTotalValue">
        <td>{{data.id}}</td>
        <td>{{data.firstName}}</td>
        <td>{{data.lastName}}</td>
        <td>{{data.Mobile}}</td>
        <td>{{data.Country}}</td>
        <td>{{data.subject}}</td>
        <td>
          <button (click)="editData(data.id)">Edit</button>
          <button (click)="updateData(data.id)">Update</button>
          <button (click)="deleteData(data.id)">Delete</button>
        </td>
      </tr>
    </table>
</div>

